@charset "ISO-8859-1";

@import url("https://fonts.googleapis.com/css?family=Quicksand:300,500"); 

body {
	background-color: #3b4f5c;
	font-family: Quicksand;
	margin: 0;
	padding: 0;
	padding-top: 100px;
	padding-bottom: 30px;
}

h2,h3	{
	color:white;
	text-align:center;
}

.loginDiv {
	position: fixed; 
	top : 50%; 
	left : 50%; 
	transform : translate( -50%, -50%);
	background-color: #fff9eb;
	padding: 40px;
	border-radius: 20px;
	box-shadow: 0px 0px 25px;
}

.logo {
	margin: auto;
	display: block;
}

#navLogo {
	display: inline;
	margin: auto;
	padding: 5px 2px 0px 5px;
}

.loginH1 {
	text-align: center;
	margin-bottom: 5%;
	font-size: 50px;
	margin-top: 0px;
}

input, .genderSelect {
	width: 100%;
	font-size: 20px;
	padding: 2px;
	margin: 5px 0px;
}

.genderSelect {
	width: 70%;
}

.loginBtn {
	border: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	width: 50%;
	background-color: #63ffb6;
	color: #ededed;
	transition-duration: 0.5s;
}

.loginBtn:hover{
	background-color: #00db0f;
	cursor: pointer;
}

nav {
	overflow: hidden;
	background-color: #363636;
	position: fixed;
	top: 0px;
	width: 100%;
	box-shadow: 0px 0px 15px;
}

.navLink {
	float: left;
	text-decoration: none;
	font-size: 30px;
	color: #fff;
	padding: 10px;
}

.navLink:last-child {
	float: right;
	color: #e89999;
	padding: 10px 20px;
}

.navLink:hover:not(#navLogo) {
	background-color:#000;
	transition-duration: 0.5s;
}

#newPost {
	color: #69ffa5
}

.feedDiv {
	background-color: #fff9eb;
	width: 70%;
	height: 100%;
	display: block;
	margin: auto;
	padding: 20px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 0px 0px 30px;
}

.postHeader {
	padding: 20px;
}

#postUser {
	float: left;
}

#postImg {
	max-width: 80%;
	max-height: 80%;
}

#feedEnd {
	margin: auto;
}

